body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom:15px;
}

.container {
  text-align:left;
  margin-bottom:20px;
  padding:23px;
}

.logo {
  color: #1877f2;
  font-size: 40px;
  margin-bottom: 105px;
}

.login-box {
  background: white;
  padding: 20px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-bottom:20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  width: 10%;
  padding: 15px;
  margin-top: 4px;
  background: #1877f2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button.signup {
  background: #42b72a;


#msg {
  margin-top: 10px;
  font-size: 14px;
}